{% extends 'base.html' %}
{% block title %}
    Practice - {{ title }}
{% endblock %}
{% block content %}
    <body class="centered">
    <h1>You are currently practicing: {{ title }}</h1>

    <h2>Conjugate: {{ infinitive }}</h2>
    <h2>Pronoun: {{ subject }}</h2>

    <form action="" method="post" class="practice">
        <label for="answer">Your Answer:<input type="text" name="answer"></label>
    </form>

    <h2>{{ correct_answer }}</h2>

    {% for message in get_flashed_messages() %}
        <h2>{{ message }}</h2>
    {% endfor %}

    {% if incorrect %}
        <h2 class="incorrect">Try Again!</h2>
        <h2><a href="" methods="GET">skip</a></h2>
    {% endif %}
    </body>
{% endblock %}

