{% extends "base.html" %}
{% block title %}
    Setup View
{% endblock %}
{% block content %}
    <body>
    <div class="centered">
        <form action="" method="POST">
            {{ form.csrf_token }}
            <h2>Name for this practice set:</h2>
            <p>{{ form.title.label }}{{ form.title(size=20) }}</p>

            {% if form.title.errors %}
                <ul>
                    {% for error in form.title.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <h2>Select Tenses to include:</h2>
            <p>{{ form.tenses(size=5) }}</p>

            {% if form.tenses.errors %}
                <ul>
                    {% for error in form.tenses.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <h2>Preset Infinitives:</h2>
            <p>{{ form.verb_type(size=7) }}</p>
            {% if form.verb_type.errors %}
                <ul>
                    {% for error in form.verb_type.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            <h2>Custom Infinitives to be used:</h2>
            <p>{{ form.infinitives(size=5) }}</p>

            {% if form.infinitives.errors %}
                <ul>
                    {% for error in form.infinitives.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}



            <input type="submit">

        </form>
    </div>
    </body>

{% endblock %}
