{% extends 'base.html' %}

{% block title %}
    Add an Irregular
{% endblock %}

{% block content %}
    <h2>Irregular Infins in DB</h2>
    <table>
    {% for infin in infins %}
        <tr>
            <td>{{ infin.infinitive }}</td>
            <td>{{ infin.form }}</td>

        </tr>
    {% endfor %}
    </table>


    <form action="" method="POST">
        {{ form.csrf_token }}

        {{ form.ir_infin.label }}{{ form.ir_infin }}
        {% if form.ir_infin.errors %}
            <ul>
                {% for error in form.ir_infin.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {{ form.yo_form.label }}{{ form.yo_form }}
        {{ form.tu_form.label }}{{ form.tu_form }}
        {{ form.el_form.label }}{{ form.el_form }}
        {{ form.ella_form.label }}{{ form.ella_form }}
        {{ form.usted_form.label }}{{ form.usted_form }}
        {{ form.nosotros_form.label }}{{ form.nosotros_form }}
        {{ form.nosotras_form.label }}{{ form.nosotras_form }}
        {{ form.ellos_form.label }}{{ form.ellos_form }}
        {{ form.ellas_form.label }}{{ form.ellas_form }}
        {{ form.ustedes_form.label }}{{ form.ustedes_form }}
        <input type="submit">
        {% if form.errors %}
            {{ error }}
        {% endif %}
    </form>
{% endblock %}