{% extends 'base.html' %}
{% block title %}Verb View{% endblock %}
{% block content %}
    <body>


    <form action="" method="POST" class="add">
        {{ form.csrf_token }}

        <p>{{ form.infinitive.label }}{{ form.infinitive }}</p>

        {% if form.infinitive.errors %}
            <ul>
                {% for error in form.infinitive.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}


        {{ form.form.label }}{{ form.form(size=1) }}

        {% if form.form.errors %}
            <ul>
                {% for error in form.form.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {{ form.stem_changer.label }}{{ form.stem_changer(size=3) }}

        {% if form.stem_changer.errors %}
            <ul>
                {% for error in form.form.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <input type='submit' value="add">
    </form>

    {% for message in get_flashed_messages() %}
        <h2>{{ message }}</h2>
    {% endfor %}

    {% for verb in existing_verbs %}
        <h1>{{ verb.infinitive }}</h1>
    {% endfor %}

    <div class="setup-tables">
        {% for type in verb_forms %}


            <div>
                <h2>{{ type.upper() }}</h2>
                <table>
                    <tr>
                        <th>Infinitive</th>
                        <th>Form</th>
                        <th>stem changer</th>
                    </tr>
                    {% for infinitive in infinitives_list %}
                        {% if infinitive.verb_form.verb_form == type %}
                            <tr>
                                <td>{{ infinitive.infinitive }}</td>
                                <td>{{ infinitive.verb_form.verb_form }}</td>
                                <td>{{ infinitive.stem.stem }}</td>
                            </tr>
                        {% else %}
                        {% endif %}

                    {% endfor %}

                </table>
            </div>

        {% endfor %}
    </div>
    </body>

{% endblock %}